.bmap-wrapper {
    position: relative;
    width: 100%;
    height: 900px; /* 不明白为什么，这个必须为确定值 */
}

.centerBox{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.leftBox {
  position: absolute;
  top: 0;
  right: 0;
  width: 22%;
}

.centerBox,
.leftBox {
  z-index: 2;/* 设置 centerBox 和 leftBox 的 z-index，确保在地图上方 */
}